<% if notice %>
  <aside id="notice"><%= notice %></aside>
<%end%>
<h1> Mirific Bookshop Catalog </h1>

<ul class="catalog">
    <% @books.each do |book|%>
        <li>
            <%= image_tag(book.image_url) %>
                <h2> <%= book.title %></h2>
                <h4> <%= book.author %></h4>
                <p> <%= sanitize(book.description) %> </p>
                <div class="price">
                    <p> <strong>Price:</strong> £<%= book.price %> </p>
                </div>
        </li>
    <%end%>
</ul>

