<!DOCTYPE html>
<html>
  <head>
    <title>Mirific Bookshop Online Shop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="main">
  <%= image_tag 'logo.png', alt: 'Mirific Bookshop' %>
  <h1><%= @page_title%> </h1>
  </header>

    <section class='content'>
      <nav class='side_nav'>

        <ul>
          <li> <a href="/">Home</a></li>
          <li> <a href="/questions">Questions</a></li>
          <li> <a href="/news">News</a></li>
          <li> <a href="/wish_list">Wish List</a></li>
          <li> <a href="/contact">Contact</a></li>
        </ul>

        <% if @cart %>
        <div id="cart" class="carts">
          <%= render @cart %>
        </div>
        <%end%>

      </nav>

      <main class='<%= controller.controller_name %>'>
        <%= yield %>
      </main>
    </section>
  </body>
</html>
